#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
body {
  font-family: "Montserrat";
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat-Bold', sans-serif;
  font-weight:bolder;
}
h2{
 
  font-size: 3rem;
  line-height: 1.5;
}


  h3{ 
   
  font-size: 1.3rem;}


  p{
    color: rgb(99, 97, 97);
  }

  .big-heading {
  font-family: "Montserrat", sans-serif;
  font-style: ;
  font-size: 3.5rem;
  line-height: 1.5;

  }

.container-fluid {
  padding: 3% 15% 7%;
}
.nav-item {
  color: azure;
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: 4.5rem;
}
.download-btn {
  margin: 18% 3% 8% 0%;
  padding: 2% 5%;
}

.icon-1{ color: #ef8172;
padding: 5% 20%;
 }


.icon-1:hover{  color: #ff4c68;}

.title-image {
  transform: rotate(25deg);
  width: 23%;
  position: absolute;
}
@media ( max-width: 1028px) {
  #title{ text-align: center;}
  .title-image {
    transform: rotate(0);
    position: static;
    width: 50%;
  }
  
}

#features{ padding: 7% 15%;
background-color: #fff;
position: relative;
}


.feature-box{ text-align: center ;
padding: 6%;
 }
 


/* <!-- Testimonials --> */

#testimonials{
  background-color: #ef8172;
  color: #fff;
  height: 700px;
 
}



.testimonials-image{
  border-radius: 100%;
  position: relative;
  left: 7%;
  margin: 8% 8%;
  width: 20%;
 }
 .testimonial-text{font-family: 'Montserrat-Bold', sans-serif;
  font-weight:bolder;
  font-size: 3rem;
  line-height: 1.5;}


  .carousel-item {
    padding: 7% 15%; 
  }
  
#press{
  background-color: #ef8172;
 }


.press-logo{
  width: 15%;
  height: 50%;
  margin: 20px 20px 50px;
}
/* PRICING */


#pricing{
  padding: 100px;
}
.pricing-col{ 

  padding: 3% 2% ;
}
#cta { 
  background-color: #ff4c68;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 1000;
  padding: 7% 15%;
  color: #fff;
}
.btn-cta{
  padding: 2% 7%;
  margin: 6% 7%;
}

#footer{
  background-color: white;
  color: rgb(5, 0, 0);
  padding: 7% 15% ;
}
.footer-logo{
  margin: 7% 7%;
  font-size: 1.5rem;

}
